*{
    box-sizing: border-box;
    background-color: black;
    color: white;
    /* border: solid 1px crimson; */
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    max-width: 800px;
    padding: 16px;
}

header{
    display: flex;
    align-items: center;
    gap: 5px;
}

.back-link{
    background-color: #82c5c5;
    border: 1px solid white;
    border-radius: 50px;
    font-size: x-large;
    width: 25px;
    height: 25px;
    color: #523939;
    text-decoration: none;
    line-height: 25px;
    text-align: center;
}

.back-link:hover{
    background-color: white;
}

/* .page h1{
    text-align: center;
} */