*{
    box-sizing: border-box;
    background-color: black;
    color: white;
    /* border: solid 1px crimson; */
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    max-width: 800px;
    padding: 16px;
}

.page h1{
    text-align: center;
}

.todo-card{
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.detail-btn{
    background-color: #82c5c5;
    border: 1px solid white;
    border-radius: 50px;
    font-size: x-large;
    width: 25px;
    height: 25px;
    line-height: 10px;
    color: #523939;
}

.detail-btn:hover{
    background-color: white;
    cursor: pointer;
}